doctype html

html(lang='en')
	head
		title Image Merger
		link(href='/css/stylesheet.css', rel='stylesheet')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src='/js/clientSide.js')
	body
		#title
			img#icon(src="assets/icon.png")
			h1 ImageMerger
			
		button#switch.split(onclick="toMerge()") Click here to merge images
		button#switch.merge(onclick="toSplit()") Click here to split image

		br
		br
		
		input#inputImage.split(type="file" onchange='imageHandler(this, "1")' accept="image/jpeg, image/png") 
		input#firstInput.merge(type="file" onchange='imageHandler(this, "1")' accept="image/jpeg, image/png") 
		input#secondInput.merge(type="file" onchange='imageHandler(this, "2")' accept="image/jpeg, image/png") 
		
		p#errorLog
		
		br
		img#imageContainer.allImage
		img#image2Container.allImage.merge
		
		button#confirm(onclick="analysisImage()") Analysis Image
		
		img#first_result.allImage
		img#second_result.allImage.split
		
		