doctype html

html(lang='en')
	head
		title Image Merger
		link(href='/css/stylesheet.css', rel='stylesheet')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src='/js/clientSide.js')
	body
		#title
			img#icon(src="assets/icon.png")
			h1 ImageMerger
			
		button.switch(onclick="toMerge()") Click here to merge images
		button.switch(onclick="toSplit()") Click here to split image
		button.switch(onclick="toAddCode()") Click here to add code to image
		button.switch(onclick="toGetCode()") Click here to get code from image
		
		br
		br
		
		input#firstInput(type="file" onchange='imageHandler(this, "1")' accept="image/jpeg, image/png") 
		input#secondInput.merge(type="file" onchange='imageHandler(this, "2")' accept="image/jpeg, image/png") 
		br
		input#textInput.addCode(type="text")
		
		p#errorLog
		
		br
		img#imageContainer.allImage
		img#image2Container.allImage.merge
		
		button#confirm(onclick="analysisImage()") Analysis
		
		img#first_result.allImage.merge.split.addCode
		img#second_result.allImage.split
		h2#textOutput.getCode 